* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    min-height: 100%;
}

div {
    padding: 5px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.header {
    min-height: 100%;
}

.content {
    min-height: 100%;
}

.footer {
    min-height: 100%;
}

p {
    padding: 15px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;

    margin-top: 0;
    margin-bottom: 0;
}

.box {
    min-height: 100px;
    min-width: 100%;
}

.col-8-6 {
    flex: 0 0 20%;
    max-width: 20%;
    min-height: 100%;
}

.grey-dark {
    background: rgba(66, 66, 66, 0.66);
}

.grey {
    background: rgba(175, 174, 174, 0.64);
}





